@model IEnumerable<FishingLogMVC.Models.Loginfo>
@{
	var p = Model.ToList();
}
<div class="scrollcontent">

	<div class="timeline">
		@for (int i = 0; i < p.Count; i++)
		{
			var side = (i % 2 == 0) ? "left" : "right";
			<div class="timeline-item @side">
				<div class="content">
					<h1>@p[i].Updatetime</h1>
					<div class="timeline-content-info" title="@p[i].Files">
						@if (p[i].Content != null)
						{
							foreach (var ii in p[i].Content.Split(new string[] { "\r\n" }, StringSplitOptions.TrimEntries))
							{
								<p>
									@ii
								</p>
							}
						}
						 
					</div>
				</div>
			</div>
		}
	</div>
</div> 